<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать новинку</title>
</head>
<body>
    <h1>Редактировать новинку</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" value="{{ novanews[1] }}"><br>
        <label for="content">Содержание:</label><br>
        <textarea id="content" name="content">{{ novanews[2] }}</textarea><br>
        
        <!-- Поле для загрузки новой обложки новости -->
        <label for="image_url">Новая обложка новинку</label><br>
        <input type="file" id="image_url" name="image_url"><br>
        
        <button type="submit">Сохранить</button>
    </form>
    <a href="{{ url_for('admin_panel') }}">Назад к списку новостей</a>
</body>
</html>