<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete New</title>
</head>

<body>
    {% for feedback in feedback %}
    <div class="album-entry">
        <p>{{ form.nickname() }}</p>
        <p>{{ form.mail() }}</p>
        <p>{{ form.text() }}</p>

        {% if current_user.is_admin %}
        <form action="{{ url_for('delete_feedback', feedback_id=feedback.id) }}" method="post">
            <button type="submit" class="btn btn-danger">Удалить сообщение</button>
        </form>
        {% endif %}
    </div>
    {% endfor %}